@import url(./css/utilities/variables.css);
@import url(./css/layouts/navbar.css);
@import url(./css/layouts/footer.css);
html{
    background-color: var(--lightest-green);
    font-family: var(--acme-font);
}

/* Header */
.hero-header{
    width: 100%;
    height: 80vh;
    color: var(--secondary);
    background-image: url(./assets/Images/farm-compressed.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    position: relative;
}

.header-content{
    gap: 1.5rem;
    text-shadow: 1px 1px var(--white);
}

.btn-shop-now{
    background-color: var(--white);
    border: 3px solid var(--primary);
    color: var(--primary);
    width: 10rem;
    font-size: 1.5rem;
    padding:0.5rem 1.5rem;
    margin-top:  5rem;
}

.btn-shop-now:hover{
    color: var(--white);
    border: 3px solid var(--white);
}
.title-underline {
    background-color: var(--primary);
    width: 10rem;
    height: 4px;
    margin: 0.5rem auto 2rem;
}
.categories{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 16rem));
    grid-gap: 0.5rem;
    justify-content: space-around;
  
}
.category-items{
    position: relative;
    opacity: 0.8;
    border-radius: 5px;

}

.category-items:hover{
   opacity: 1;
   cursor: pointer;
   box-shadow: var(--box-shadow-2); 
 
}
.categories img{
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  
}

.category-item-text{
    position: absolute;
    top: 4rem;
    left:4rem;
    color: var(--dark-blue);
    background-color: var(--transparent-grey);
    padding: 0.5rem;
    letter-spacing: 2px;
}

.banner-subtitle{
    color:var(--dark-blue);
}

@media screen and (max-width: 900px){
    .btn-shop-now{
        margin-top: 0;
    }
  .banner-title{
      font-size: 2rem;
      letter-spacing: 2px;
      margin: 0.5rem;
      line-height: normal;

  }
  .banner-subtitle{
      font-size: 1.5rem;
      letter-spacing: 1px;
      line-height: normal;
  }
 
}
