/* Import Font Family */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root{
--acme-font: 'Acme', sans-serif;
--lato-font: 'lato',sans-serif;
--transparent-grey: rgba(255, 255, 255, 0.432);
--tree-green: #74bb98;
--box-shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

